# GroupBy II

In [1]:
import pandas as pd

### Use Case: statistics on Occupations.

In [2]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Get the mean age per occupation

In [3]:
occupation = users.groupby(users["occupation"])
occupation['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Get the Male ratio per occupation and sort it from the most to the least

In [61]:
ma=users.groupby('gender').get_group('M')
ma.groupby('occupation').size().sort_values(ascending=False)

occupation
student          136
educator          69
other             69
engineer          65
programmer        60
administrator     43
executive         29
scientist         28
technician        26
writer            26
librarian         22
marketing         16
entertainment     16
artist            15
retired           13
lawyer            10
salesman           9
doctor             7
healthcare         5
none               5
homemaker          1
dtype: int64

### For each occupation, calculate the minimum and maximum ages

In [38]:
occupation['age'].min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [39]:
occupation['age'].max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### For each combination of occupation and gender, calculate the mean age

In [40]:
users.groupby(["occupation","gender"])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### [dificult] For each occupation present the percentage of women and men

In [65]:
# pivot input dataframe
res = users.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)

# calculate ratios
sums = res[['F', 'M']].sum(axis=1)
res['FemaleRatio'] = res['F'] / sums
res['MaleRatio'] = res['M'] / sums

In [66]:
print(res)

gender          F    M  FemaleRatio  MaleRatio
occupation
administrator  36   43     0.455696   0.544304
artist         13   15     0.464286   0.535714
doctor          0    7     0.000000   1.000000
educator       26   69     0.273684   0.726316
engineer        2   65     0.029851   0.970149
entertainment   2   16     0.111111   0.888889
executive       3   29     0.093750   0.906250
healthcare     11    5     0.687500   0.312500
homemaker       6    1     0.857143   0.142857
lawyer          2   10     0.166667   0.833333
librarian      29   22     0.568627   0.431373
marketing      10   16     0.384615   0.615385
none            4    5     0.444444   0.555556
other          36   69     0.342857   0.657143
programmer      6   60     0.090909   0.909091
retired         1   13     0.071429   0.928571
salesman        3    9     0.250000   0.750000
scientist       3   28     0.096774   0.903226
student        60  136     0.306122   0.693878
technician      1   26     0.037037   0.962963
writer         19   26     0.422222   0.577778